#sign_in


  -# Username and password is not properly supported in API V4
  -##via_username_password
  -#  = form_for :session, :url => login_path do |form|
  -#    %fieldset
  -#      %legend Sign in with your PivotalTracker username and password.
  -#      = label_tag "username", "Username or Email"
  -#      = text_field_tag "username"
  -#      = label_tag "password"
  -#      = password_field_tag "password"
  -#    %fieldset.buttons
  -#      = form.submit "Retrieve Projects"

  = form_for :session, :url => login_path do |form|
    = label_tag "api_token", "Pivotal Tracker API Token"
    %p
      You can find your API token
      %a{:href=>"https://www.pivotaltracker.com/profile", :target=>"_blank"} here.
    = text_field_tag "api_token"
    = form.submit "Log In"
